beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
dj-database-url==0.5.0
Django==2.0.3
django-jet==1.0.7
django-modelcluster==4.1
django-taggit==0.22.2
django-treebeard==4.2.1
djangocms-installer==1.0.0
djangorestframework==3.7.7
draftjs-exporter==2.0.0
future==0.16.0
get==0.0.39
gunicorn==19.9.0
html5lib==0.999999999
idna==2.5
mechanize==0.2.5
olefile==0.45.1
Pillow==8.2.0
post==0.0.26
psycopg2==2.7.5
psycopg2-binary==2.7.5
public==0.0.65
pymongo==3.6.1
PySocks==1.6.8
python-telegram-bot==10.0.1
python-whois==0.7.0
pytz==2018.3
query-string==0.0.28
request==0.0.26
requests==2.18.1
selenium==3.12.0
six==1.11.0
tzlocal==1.5.1
Unidecode==0.4.21
urllib3==1.21.1
wagtail==2.0
webencodings==0.5.1
Willow==1.1
